div(class="row")
  p
  p
  p
  div(class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 pull-center")
    form(name="loginForm" id="loginForm" action="")
      fieldset
        legend {{optionsModel.headerText}}
      div(class="control-group", ng-class="{error: errors.email}")
        input(name="email", type="email", ng-model="loginModel.email", placeholder="EmailAddress", required)
        span(class="help-block error", ng-show="errors.email") Bad username help message
      div(class="control-group", ng-class="{error: errors.pasword}")
        input(name="password", type="password", ng-model="loginModel.password", placeholder="Password", required)
        span(class="help-block error", ng-show="errors.password") Bad password help message
      button(name="signin", id="signin", class="btn btn-success", ng-disabled="form.$invalid", ng-click="doLogin()") Log In
      a(ng-show="optionsModel.hasRegistration", href="/newUser") Sign up!
      a(class="pull-right", href="/forgotPassword") Forgot password?
