doctype 5
html(lang="en")
  head
    title iRally
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    base(href='/')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/bower_components/angular/angular-csp.css')
  body
    block body
