doctype 5
html(lang="en")
  head
    title= iRally
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="description", content="iRally is an online team sport you play with your friends for cash and prizes. It's a race around the world, but you never have to leave home.")
    meta(name="keywords", content="game, social, event, race, cash, prize, team, live")
    link(rel="stylesheet", type="text/css", href="public/css/style3.css")
  body
    div(class="wrapper")
      div(class="content">
        div(class="lefttop btn replay_btn up")
          div
        div(class="leftbot btn question_btn up")
          div
        div(class="righttop btn answer_btn up")
          div
        div(class="rightbot btn leader_btn up")
          div
        div(class="rside up")
        div(class="lside up")
          div(class="lside_up up")
            div(class="rank")
            div(class="rank_number")
          div(class="lside_sep up")
          div(class="infoleft_btn btn lside_down up")
            div
        div(class="mbot up")
          div(class="team_name")
        div(class="mask")
        div(class="content_inner")
          div
            div(class="lefttop highlighted")
            div(class="righttop up")
            div(class="rightbot up")
            div(class="leftbot up")
            div(class="lside up")
            div(id="video", class="video")
      div(class="mtop clock")
        div(class="hide hidden clock_num_0")
        div(class="hide hidden clock_num_0")
        div(class="clock_colon hide hidden")
        div(class="clock_num_0")
        div(class="clock_num_0")
        div(class="clock_colon")
        div(class="clock_num_0")
        div(class="clock_num_0")
        div(class="clock_colon")
        div(class="clock_num_0")
        div(class="clock_num_0")
    a(class="terms_link", href="/#terminfo")= Terms and Conditions
