<header class="navbar navbar-inverse navbar-fixed-top navbar-default" role="banner"> 
  <div class="container" ng-controller="irNavCtrl">
    <div ng-class="{'navbar-header': true, 'navbar-right': !nbDataModel.brandLeft, 'navbar-left': nbDataModel.brandLeft}">
      <a class="navbar-brand" href="">{{nbDataModel.brandName}}</a>
    </div>
    <ul class="nav navbar-nav navbar-left" role="navigation" bs-navbar>
      <li ng-class="{active: tabModel.displayLabel == nbDataModel.initialActive}" ng-repeat="tabModel in nbDataModel.leftTabModels" data-match-route="{{tabModel.getMatchRoute()}}">
        <a href="{{tabModel.clickRoute}}">{{tabModel.displayLabel}}</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" role="navigation" bs-navbar>
      <li ng-repeat="tabModel in nbDataModel.rightTabModels" data-match-route="{{tabModel.getMatchRoute()}}">
        <a href="{{tabModel.clickRoute}}">{{tabModel.displayLabel}}</a>
      </li>
    </ul>
  </div>
</header>
