.overflowable: .list-group
  a.list-group-item(ng-repeat='messageModel in panes[activePane].contentList') At {{messageModel.timestamp}}, {{messageModel.displayName}} said, "{{messageModel.messageText}}" <!-- span.glyphicon.pull-right(ng-class="getGlyphIconClass(user)") -->
