div
  .row
    .col-xs-offset-1.col-xs-6
      h3 Messages
      .div(ng-model='messageModel.activeTabIndex', bs-tabs='messageModel.tabDefinitions')
    .col-xs-4
      h3 Users
      .overflowable: .list-group
        a.list-group-item(ng-repeat='user in userModels', ng-class="getMouseOverClass(user)", ng-mouseenter="user.hasMouse = true", ng-mouseleave="user.hasMouse=false", ng-click="selectUser(user)") {{user.displayName}} 
          span.glyphicon.pull-right(ng-class="getGlyphIconClass(user)")
      .button.btn.btn-primary(type="button", ng-disabled="controlStateModel.selected == null", ng-click="allocateMessageTab(controlStateModel.selected.curie, conrolStateModel.selected.displayName)")
  br
  form.form-horizontal
    .form-group
      label.control-label.col-xs-offset-1.col-xs-1(for="newMessageText") Message: 
      .input-group.col-xs-5
        input#newMessageText.form-control(size='60', ng-model='newMessageModel.content')
        span.input-group-btn
          button.btn.btn-primary.btn-sm(type="button", ng-click="sendMessage()") Send
